h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight:bold;
    color: khaki;
    text-align: center;
    background-image: url("frames.webp");
}

div h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight:bold;
    color:white;
}

#Brushes h2 {
    background-color: mediumspringgreen;
}

#Frames h2 {
    background-color: lightcoral;
}

#Paint h2 {
    background-color: skyblue;
}

img { border-image: url("https://toppng.com/uploads/preview/ink-splash-png-115521722614lawqwcvei.png");
}
